name: Nix Build and Test

on:
    push:
        branches:
            - master
    pull_request:
        branches:
            - master

jobs:
    build-nix:
        runs-on: ubuntu-latest
        permissions:
            contents: read
        steps:
            - name: Checkout
              uses: actions/checkout@v6

            - name: Install Nix
              uses: cachix/install-nix-action@v31
              with:
                  nix_path: nixpkgs=channel:nixos-unstable

            - name: Check flake
              run: |
                  nix flake check

            - name: Build Nix package
              run: |
                  nix build --print-build-logs

            - name: Test executable exists
              run: |
                  test -f result/bin/drg-save-editor
